.the-canvas {
	width: 100%;
	border: 1px solid #ddd;
}

.sketch-row {
	display: table;
}

.sketch-row > [class*="col-"] {
	float: none;
	display: table-cell;
	vertical-align: top;
}

.draw-controls {
	display: none;
}

.draw-controls > h2 {
	display: inline-block;
}

.chat-tabs-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;

	position: absolute;
	left: 15px;
	right: 15px;
	top: 41px; /* estimated height of .chat-tabs */
	bottom: 0;

	overflow-y: auto;
	overflow-x: hidden;
}

.chat-tabs {
	margin-bottom: 0;
}

.chat-entry.control {
	text-align: center;
	font-style: italic;
}

.chat-entry.control::after {
	content: '—';
	display: block;
	font-weight: normal;
	color: #ddd;
	padding:0;
}

.player-list > li + li {
	border-top: 1px solid #ddd;
}

.player-list > li {
	padding: 0.33em 0 0.33em 0;
}
